body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculator {
   background-color: #333;
   border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.display {
    background-color: #222;
    color: white;
    font-size: 2em;
    padding : 10px 15px;
    text-align: right;
    border-radius: 5px;
    margin-bottom: 18px;
    min-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #444;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #fff;
    color: #111;
}

#zerobtn{
    grid-column: span 2;
}